header {
    border: 1px solid red;
}

main {
    display: flex;
}

#category-container {
    display: none;
}

.meals {
    display: none;
}

/* .menu-list {
    border: 1px solid red;
    padding: 20px;
}

.meal-title {
    display: none;
}

#meal-container {
    border: 1px solid red;
    width: 100%;
}

#meal-container p {
    margin-left: 25px;
}

.meal-card {
    margin: 25px;
    border: 1px solid red;
    width: fit-content;
}

.meal-card ul {
    list-style: none;
    padding: 30px;
} */