header {
    background-color: #e5e5e5;
    padding: 5px;
}

header h1 {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
}

#category-container {
    display: none;
    background-color: #e5e5e5;
}

.add-title {
    text-align: center;
}

#add-new-meal {
    margin-left: 5px;
}

.meals {
    display: none;
    list-style: none;
    margin: 15px;
    border: 1px solid #e5e5e5;
    width: fit-content;
    padding: 15px;
    border-radius: 10px;
    background-color: #e5e5e5;
}

.meal-title {
    padding-bottom: 5px;
    text-decoration: underline;
    font-size: 15px;
    font-weight: bold;
}

#meal-container {
    width: fit-content;
}

.category {
    padding: 20px;
    border: 1px solid #e5e5e5;
}

.delete-category-btn {
    border: 0;
    padding: 0;
    margin-left: 10px;
}

.delete-category-btn:hover {
    cursor: pointer;
}

.category-link {
    color: black;
}