header {
    border: 1px solid red;
}

.meal-card {
    border: 1px solid red;
    margin: 20px;
    width: fit-content;
    padding: 30px;
    border-radius: 25px;
    background-color: white;
}

.meal-list {
    list-style: none;
    padding: 15px;
    margin-left: 10px;
}